<header>
  <!-- TODO update css and make it possible to make logo smaller. -->
  <!-- TODO maybe use header class for a big logo on index.html and a smaller on regular pages. -->
  <a href="/"><img class="logo" width="100" height="100" alt="Volt" src="http://www.volt-lang.org/img/logos/logo-white-border.svg"></a>
  <nav>
    <!-- <a href="#">News</a> -->
    <a href="https://trello.com/b/tnuM8Sjy/volt">Roadmap</a>
    <a href="https://ci.walkyrie.se/">CI</a>
    <a href="http://github.com/VoltLang/Volta">Repo</a>
    <a href="http://docs.volt-lang.org">Doc</a>
  </nav>
  <div style="clear: both;"></div>
</header>
